server:
  port: 8080
spring:
  application:
    name: account
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:file:./dbconfig/db;MODE=MYSQL
    username: root
    password: 123456
#    schema:
#      - classpath:sql/user.sql
#    data:
#      - classpath:sql/insert.sql
#    initialization-mode: always
  h2:
    console:
#      可以访问 http://127.0.0.1:8080/h2-console 查看数据库
      path: /h2-console
      enabled: true
      settings:
        web-allow-others: true