<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangjingbo.account.mapper.AccountInfoMapper">

    <insert id="saveAccountInfo"  parameterType="com.zhangjingbo.account.entity.AccountInfo">
        INSERT INTO MAIN_ACCOUNT (
            ACCOUNT_TIME,
            ACCOUNT_NAME,
            ACCOUNT_ITEM,
            ITEM_DETAIL,
            ITEM_NAME,
            OPERATOR,
            ACCOUNT_TYPE,
            ACCOUNT_VOUCHER,
            ACCOUNT_NUMBER,
            ACCOUNT_DEBIT,
            ACCOUNT_CREDIT,
            BALANCE )
        VALUES
            (#{accountInfo.accountTime},
             #{accountInfo.accountName},
             #{accountInfo.accountItem},
             #{accountInfo.itemDetail},
             #{accountInfo.itemName},
             #{accountInfo.operator},
             #{accountInfo.AccountType},
             #{accountInfo.accountVoucher},
             #{accountInfo.accountNumber},
             #{accountInfo.accountDebit},
             #{accountInfo.accountCredit},
             #{accountInfo.balance})
    </insert>

    <select id="queryAllAccountInfo" resultType="com.zhangjingbo.account.entity.AccountInfo">
        select * from MAIN_ACCOUNT order by accountId
    </select>

    <select id="queryAccountInfoByParam" parameterType="com.zhangjingbo.account.entity.AccountInfo" resultType="com.zhangjingbo.account.entity.AccountInfo">
        select * from MAIN_ACCOUNT where 1=1
        <if test="accountInfo.accountTime != null">
            and ACCOUNT_TIME = #{accountInfo.accountTime}
        </if>
        <if test="accountInfo.accountName != null and accountInfo.accountName != ''">
            and ACCOUNT_NAME = #{accountInfo.accountName}
        </if>
        <if test="accountInfo.accountItem != null and accountInfo.accountItem != ''">
            and ACCOUNT_ITEM = #{accountInfo.accountItem}
        </if>
        <if test="accountInfo.itemDetail != null and accountInfo.itemDetail != ''">
            and ITEM_DETAIL = #{accountInfo.itemDetail}
        </if>
        <if test="accountInfo.itemName != null and accountInfo.itemName != ''">
            and ITEM_NAME = #{accountInfo.itemName}
        </if>
        <if test="accountInfo.operator != null and accountInfo.operator != ''">
            and OPERATOR = #{accountInfo.operator}
        </if>
        <if test="accountInfo.AccountType != null and accountInfo.AccountType != ''">
            and ACCOUNT_TYPE = #{accountInfo.AccountType}
        </if>
        <if test="accountInfo.accountVoucher != null and accountInfo.accountVoucher != ''">
            and ACCOUNT_VOUCHER = #{accountInfo.accountVoucher}
        </if>
        <if test="accountInfo.accountNumber != null and accountInfo.accountNumber != ''">
            and ACCOUNT_NUMBER = #{accountInfo.accountNumber}
        </if>
        <if test="accountInfo.accountDebit != null and accountInfo.accountDebit != 0">
            and ACCOUNT_DEBIT = #{accountInfo.accountDebit}
        </if>
        <if test="accountInfo.accountCredit != null and accountInfo.accountCredit != 0">
            and ACCOUNT_CREDIT = #{accountInfo.accountCredit}
        </if>
        <if test="accountInfo.balance != null and accountInfo.balance != 0">
            and BALANCE = #{accountInfo.balance}
        </if>
    </select>
</mapper>